html
{
    font-family: 'FiraSans', "Trebuchet MS", Helvetica, sans-serif;
}
body
{
    background-color: #d8d8d8;
    margin: 0;
    padding-bottom: 10px;
}
a
{
    text-decoration: none;
    color : orange;
}
a:hover
{
    text-decoration: none;
    color: #0132a0;
}
.block-inner i {
    color: #656565;
}
@font-face{font-family:'FiraSans';src:url('font/FiraSans-Regular.otf');font-weight:normal}
@font-face{font-family:'FiraSans';src:url('font/FiraSans-Medium.otf');font-weight:bold}
@font-face{font-family:'FiraSans';src:url('font/FiraSans-Italic.otf');font-weight:normal;font-style:italic}
@font-face{font-family:'FiraSans';src:url('font/FiraSans-UltraLight.otf');font-weight:300}
.header
{
    background-color: #262626;
    background-image: url('Image/ocean.jpg');
    height: 100px;
}
.header h1
{
    text-align: center;
    margin-top: 0;
    color: #fefefe;
}
.header img
{
    position: absolute;
}
.header p
{
    text-align: center;
    color: #ababab;
}
.content h3
{
    background-image: url('Image/ocean.jpg');
    color: white;
    padding: 2px;
    text-align: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px, inset rgba(0, 0, 0, 0.08) 0px -5px 20px;
}
.content
{
    display: flex;
    margin: 0 auto;
    width: calc(100vw - (10px * 2));
    max-width: 1400px;
}
.contenu
{
    flex: 0 1 auto;
    display: block;
    width: calc(100% - 300px);
    margin-right: 10px;
}
.sidebar-block
{
    width: 300px;
    padding-top: 17px;
}
.sidebar-container{
    color: #141414;
    background: #fefefe;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px, inset rgba(0, 0, 0, 0.08) 0px -5px 20px;
}
.sidebar-container h3
{
    text-align: center;
    background-image: none;
}
.sidebar-block-body
{
    padding: 5px 0 5px 10px;
    border-top: dashed 1px #d8d8d8;
}
.inner h3.sidebar-header
{
    margin-top: 0;
}

h3.sidebar-header {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: snow;
    color: black;
    box-shadow : none;
}
.block-inner
{
    background-color: #fefefe;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px, inset rgba(0, 0, 0, 0.08) 0px -5px 20px;
    padding: 5px;
}