
body {

    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2012/11/22/22299/028063d9f6594d7020f123687c539b59-1000.jpg);
    margin-left: 45px;

}

h3 {

    color: rgb(221, 221, 221);
    font-size: 25px;
    font-family: 'El Messiri', sans-serif;

}

h4 {

    color: rgb(221, 221, 221);
    font-size: 20px;

}

h1 {

    color: rgb(221, 221, 221);
    font-size: 50px;

}

h2 {

    color: rgb(221, 221, 221);

}

h5 {

    color: rgb(221, 221, 221);

}

h6{

    color:rgb(221, 221, 221);
    font-size: 20px;

}

u {

    color: brown;
    
}