
body {

    background-color: rgb(48, 0, 0);
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

h3 {

    color: rgb(94, 84, 0);
    font-size: 25px;
    font-family: 'Candal', sans-serif;
    text-align: center;

}

h4 {

    color: rgb(221, 221, 221);
    font-size: 20px;
    text-align: center;
    font-family: 'Lusitana', serif;

}
.outer h1{
    float: left;
    height: 150px;
}
h1:hover {

    color: rgb(255, 255, 255);

}

h1 {

    color: rgb(251, 255, 0);
    font-size: 50px;
    text-align: center;
    font-family: 'Coda Caption', sans-serif;

}

h2 {

    color: rgb(221, 221, 221);
    text-align: center;

}

h5 {

    color: rgb(221, 221, 221);
    text-align: center;
    font-family: 'Lusitana', serif;

}

h6{

    color:rgb(221, 221, 221);
    font-size: 20px;
    text-align: center;
    font-family: 'Lusitana', serif;

}

u {

    color: rgb(94, 84, 0);
    text-align: center;
    
}

p {

    text-align: center;
    
}