h1 {
    font-size: 40px;
}
body {
    color: whitesmoke;
    background-color: #b30000;
    font-family: Monospace;
    font-size: 15px;
}
.photo {
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    margin-top: -100px;
    margin-right: 120px;

 }
 h1:hover {
    color: darkgray;
}
.titre2 {
    font-size: 25px;
    margin-bottom: 15px;
}
.titre2:hover {
    color: darkgray;
}
